<!DOCTYPE html>
<html lang="en">
<head>
    <title>Train Reservation System</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="logo">
        <img src="/static/준범ktx.jpg" alt="logo">
    </div>
    <div class="container">
        <h1>KTX(KU Train Express)</h1>
        <h4>made by JUNBEOM CHO</h4>
        <form action="/select" method="GET">
            <button type="submit">Make a Reservation</button>
        </form>
        <form action="/reservations" method="GET">
            <button type="submit">My Reservations</button>
        </form>
    </div>
</body>
</html>
